APP_NAME=Wa Chat Service
APP_VERSION=0.0.1
APP_ENVIRONMENT=development
APP_PORT=8121
APP_URL=http://localhost:8121
# APP_SECURE_COOKIE=true

CORS_ENABLED=true
CORS_ALLOW_ORIGINS=http://localhost:3000
CORS_ALLOW_METHODS=GET,POST,PUT,OPTIONS
CORS_ALLOW_HEADERS=Origin,Content-Type,Authorization,X-Real-IP,X-Forwarded-For,X-Forwarded-Proto,X-Target-Host,X-Original-Host
CORS_EXPOSE_HEADERS=Content-Length
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_ALL_ORIGINS=false

DATABASE_URL=

AES_ENCRYPTION_KEY=

GCP_PROJECT_ID=
GCP_TASK_API_KEY=
GCP_ATTACHMENT_LINK_EXPIRY=
GCP_ATTACHMENT_BUCKET=
GCP_ATTACHMENT_MAX_SIZE=

GOOGLE_APPLICATION_CREDENTIALS=

FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
