.env*
!.env.example
DS_Store
.vscode
.idea
.git

**.tar
**.exe
**.pem
**.sql

# Ignore Docker files for now
docker-compose.local.yml
# Dockerfile

# Go related ignores
**.out
**.log
/testdata
/bin

service-accounts
